$estiloBtn: (
	fontw: bold,
	borde: $letrasYBordes,
	fondo: $colorBtnForm,
	fondoHover: $colorBtnFormHover
);

@mixin flexRowCenter{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main {
	grid-area: main;
	min-height: 80vh;
	&.gridMain{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
		"titulo" 
		"cotizaciones" 
		"texto";
		& div.contenedor{
			@extend .contenedor;
			display: flex;
			flex-flow: column nowrap;
			justify-content:center;
			align-items: center;
			& h1.contenedor__titulo{
				@include flexRowCenter;
				flex-wrap: wrap;
				align-items: center;
				letter-spacing: 0.2rem;
				font-size: 4rem;
				font-family: Futura-Bold;
				font-style: bold;
				text-decoration:underline ;
				margin: 2rem;
				@media only screen and (max-width: 768px){
					font-size: 1.75rem;
				}
 			}
			& h1.tituloCentrado{
				grid-area: titulo;
 			}
 			& p.contenedor__texto{
				@include flexRowCenter;
				flex-wrap: wrap;
				line-height: 2rem;
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				font-size: 1.5rem;
				text-align: justify-all;
				@media only screen and (max-width: 768px){
					font-size: 1.3rem;
				}
			}
			& p.textoCentrado{
				grid-area: texto;
 			}
		}
	}
}
